/*

TOM ROGERS
SIMPLE D7 DEMO THEME
2010

*/

/* BEGIN SETTING DEFAULTS */

* {
  margin: 0;
  padding: 0;
}
ul {list-style: inside; margin: 0; padding: 0; list-style: disc;}
p,a,strong,em,li,dl,dt {margin: 8px 0; line-height: 22px;}
table {width: 100%;}

/* END SETTING DEFAULTS */

#block-bar {display: block; margin: 5px 0 0 0; font-size: 16px; padding: 5px 0;} 
nav ul li {padding: 0; display: inline;}
nav ul li:after {content: ' | ';}  
nav ul {list-style: none; }
div#header .clear {clear: both;}

div#header nav ul li a.active {}
div#header {display: block; margin: 10px 0 0 0;}     
div#header h1 a {font-weight: 700;}

div#main-stuff form div.form-type-textfield input {width: 400px;}
div#main-stuff {display: block; float: left; width: 796px; border: 2px solid #000; padding: 20px; margin: 10px 0;}
#wrapper {width: 900px; margin: 0px auto;}
asside {width: 260px; display: block; float: right; }   
asside .block {border: 2px solid #000; padding: 5px 10px 5px 5px; margin: 10px 0;}
footer {text-align: center; clear: both; margin: 0 0 10px 0; display: block; border: 2px solid #000; padding: 5px;}
footer nav {border: none;}
footer nav ul li a.active {background: #FFF;}	
     
.node {border: 1px solid #000; margin: 0 0 10px 0; padding: 5px;}
.node ul.links {display: none;}
.messages {border: 1px solid #000; margin: 5px 0;}
.messages ul {list-style-position: inside;} 

/***********************
   ARKVETS STYLE INFO
************************/

body {
	font-family: Arial, sans-serif;
}

/***********************
   Headers
************************/

div#header div#logo_ark img {
	height: 95px;
	float: left;
	padding-top: 6px;
}

div#banner_contact_us {
	float: right;
	margin-bottom: 3px;
	font-family: Arial;
	color: #000035;
	font-weight: bold;
	font-size: 12px;
	text-align: right;
	width: 100%;
}

div#banner_contact_us a {
	line-height: normal;
	color: #000035;
	text-decoration: none;
}

div#banner_contact_us a:hover {
	text-decoration: underline;
}

div#banner_bar {
	width: 730px;
	float:right;
	border-top: #000035 5px solid;
	border-bottom: #000035 5px solid;
	padding-top: 2px;
	padding-bottom: 2px;
}

div#banner_bar img {
	float: right;
	margin-left: 2px;
}

div#banner_bar img.last {
	margin-left:0px
}

/************************
   Menus
*************************/

asside .block {
	border: none;
	padding: 0px;
	margin: 0px;
}

div#block-nice-menus-1 h2 {
	display: none;
}

ul#nice-menu-1 {
	border: none;
	background: none;
	width: 100%;
}

ul#nice-menu-1 ul {
	border: none;
	top: 0.5px;
}

ul#nice-menu-1 li, ul#nice-menu-1 li:hover {
	border: none;
	background: #000035;
	margin-bottom: 2px;
	border-radius: 10px;
	width: 100%;
}

ul#nice-menu-1 li:hover {
	background: #020572;
}

ul#nice-menu-1 li a, ul#nice-menu-1 li a:hover {
	margin: 0px;
	padding: 5px;
	color: white;
	font-weight: bold;
	text-decoration: none;
	font-family: Arial, sans-serif;
	padding-left: 20px;
	background:none;
}

ul.nice-menu-right ul {
	left: 10.1em;
}

div#rcvs_cred {
	width: 80px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

div#rcvs_cred a img {
	width: 80px;
}

div#cvs_logo {
	width: 60px;
	padding-top: 5px;
	margin-left: auto;
	margin-right: auto;
}

div#cvs_logo a img {
	width: 60px;
}

/***********************
 Body section
************************/

h2 {
	font-family: Arial;
}

tbody {
	border: 0px;
}

div#main-stuff {
	border: none;
	width: 710px;
	padding: 0px;
	padding-left: 20px;
	float: right;
}

div#asside {
	float:left;
	width: 160px;
}

div.node {
	border: none;
}

/**********************
  Footer
***********************/

div#footer {
	width: 100%;
	float: left;
}

div#foot_menu {
	width: 400px;
	margin: auto;
}

div#foot_menu h2 {
	display: none;
}