/*

TOM ROGERS
SIMPLE D7 DEMO THEME
2010

*/

/* BEGIN SETTING DEFAULTS */

* {
  margin: 0;
  padding: 0;
}
ul {list-style: inside; margin: 0; padding: 0; list-style: disc;}
body {font-family: Helvetica;}
a:link,a:visited {color: #000;}
a:hover {background: #008FFF;}
em {font-size: small; font-style: italic;}
p,a,strong,em,li,dl,dt {margin: 8px 0; line-height: 22px;}
table {width: 100%;}
h1,h2,h3 {font-family: "Lucida Grande"; font-weight: normal;}

/* END SETTING DEFAULTS */

#block-bar {display: block; margin: 5px 0 0 0; font-size: 16px; padding: 5px 0;} 
nav ul li {padding: 0; display: inline;}
nav ul li:after {content: ' | ';}  
nav ul {list-style: none; }
header .clear {clear: both;}

header nav ul li a.active {}
header {display: block; margin: 10px 0 0 0;}     
header h1 a {font-weight: 700; text-transform: uppercase; text-decoration: none;}

section form div.form-type-textfield input {font-size: 20px; width: 400px;}
section {display: block; float: left; width: 796px; border: 2px solid #000; padding: 20px; margin: 10px 0;}
#wrapper {width: 800px; margin: 0px auto;}
asside {width: 260px; display: block; float: right; }   
asside .block {border: 2px solid #000; padding: 5px 10px 5px 5px; margin: 10px 0;}
footer {text-align: center; font-weight: bold; clear: both; margin: 0 0 10px 0; display: block; border: 2px solid #000; padding: 5px;}
footer nav {border: none;}
footer nav a {font-size: small; font-weight: normal;}
footer nav ul li a.active {background: #FFF;}	
     
.node {border: 1px solid #000; margin: 0 0 10px 0; padding: 5px;}
.node ul.links {display: none;}
.messages {border: 1px solid #000; margin: 5px 0;}
.messages ul {list-style-position: inside;} 

/***********************
   ARKVETS STYLE INFO
************************/

/***********************
   Headers and menus
************************/

header div#logo_ark img {
	height:150px;
	float:left;
	margin-left: 50px;
}

ul.nice-menu-down .menuparent a {
	padding: 0px;
}

nav ul li::after {
	content:none
}

ul.nice-menu-down li.menuparent {
	background: none;
}

li.over {
	backgound: none;
}

ul.nice-menu a:hover {
	background: none;
	text-decoration: none;
}

ul.nice-menu a {
	color: white;
	border: 0px;
	background-color: #000087;
	text-decoration: none;
}

ul.nice-menu li {
	height:25px;
	padding: 0px 10px 0px 10px;
	border: none;
	background-color: #000087;
}

ul.nice-menu-down li.menuparent:hover {
	background: none;
}

ul.nice-menu a {
	padding: 0px;
	margin: 0px;
}

ul.nice-menu-down {
	width: 100%;
	background-color: #000087;
}

div#block-bar {
	margin: 0px;
	padding: 0px;
}

/***********************
 Body section
************************/

section {
	border: none;
}

div.node {
	border: none;
}

/**********************
  Footer
***********************/

footer {
	border: none;
}